body {
  background-color:#1F2023FF;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  align-items:center;
}
p.maincontent {
  font-size: 16px;
  text-align: center;
}
nav {
  color:white;
  background-image:url('https://utfs.io/f/1doOIeMoMsm25NWbkROLZNHRpMTxJEYP27K6Sklwfh9yWI3F');
  background-size:cover;
  border-radius:10px;
  width:fill;
  padding:10px;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
  position:sticky;
  z-index:100;
  margin-bottom:0px;
}
h1.title {
  width:fill;
  text-align: center;
  font-size: 30px;
  margin-top:0;
  margin-bottom:0;
}
div.blur {
  background: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  width:fill;
  padding:10px;
  top:0;
  left:0;
  right:0;
  margin:0;
  position:sticky;
  z-index:100;
  margin-bottom:0px;
}
footer {
  padding:10px;
  bottom:0;
  left:0;
  right:0;
  margin:0;
}
/* From 10015.io */
.loader {
  width: 72px;
  height: 72px;
  display: grid;
  animation: spinner-plncf9 3.2s infinite;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border: 11.5px solid;
  border-radius: 50%;
  border-color: #0cb717 #0cb717 #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 0.8s infinite linear;
}

.loader::after {
  border-color: #0000 #0000 #cb1616 #cb1616;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
     transform: rotate(1turn);
  }
}
div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
}